{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <div class="w-8/12 mx-auto my-10">
    <p>今の気分は？</p>
  </div>
  <div class="w-8/12 mx-auto">
    <div class="grid grid-cols-2 gap-4">
      <a href="/relax">
        <div class="h-48 bg-green-400 hover:bg-green-600 rounded-full grid place-items-center">
          relax
        </div>
      </a>
      <a href="/workout">
        <div class="h-48 bg-red-400 hover:bg-red-600 rounded-full grid place-items-center">
          workout
        </div>
      </a>
      <a href="/favorite">
        <div class="h-48 bg-yellow-200 hover:bg-yellow-400 rounded-full  grid place-items-center">
          favorite
        </div>
      </a>
      <div class="h-48 bg-gray-300 border-dotted border-4 border-light-blue-500 rounded-full  grid place-items-center">
        coming soon...
      </div>
    </div>
  </div>
{% endblock %}