<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <title>Beans Love Beers</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body class = "bg-gray-100">
  <nav class = "bg-gray-700" >
    <div>
      <a href="/">
        <img src="/static/src/img/ramdofy_logo.png" class = "h-20">
      </a>
    </div>
  </nav>
  <header></header>
  {% if get_flashed_messages() %}
    <header >
      <div role="alert" class="mt-4 w-6/12 mx-auto">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2 ">
          Error
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
          <p>{{ get_flashed_messages() | join(" ") }}</p>
        </div>
      </div>
    </header>
  {% endif %}
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer class="text-center mt-6">
    <p>
      Data provided for free by <a href="https://developer.spotify.com/documentation/web-api/">Spotify</a>.
    </p>
  </footer>
</body>
</html>